@import '_variables';
@import '_mixins';

* {
  font-family: $page-font;
}

html {
  min-height: $view-height;
  position: relative;
  background-color: $primary-background;
}

.body {
  background: $primary-background;
  min-height: $view-height;
  margin: 0px;
  @include flex-row();
  background-color: primary-background;
}

.main {
  height: $one-hundred-percent;
  width: 80%;
}

.sidebar {
  min-height: $one-hundred-percent;
  width: 20%;
  background-color: #336699;
  border-right: $border;
}

.grid-heading {
  height: 35%;
  display: $flex;
  background-color: $white;
  justify-content: space-between;
  border-bottom: $border;
  border-top: $border;
  border-right: $border;
}

.heading-greet {
  @include flex-align-center();
  justify-content: right;
  width: $one-hundred-percent;
}

.grid-container {
  background-color: primary-background;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 65%;
  border-right: $border;
}

.box-all-trips {
  @include flex-column();
  margin: 5%;
  border: $border;
  height: 300px;
  background-color: rgb(242, 236, 236);
  border-radius: 7px;
}

.travel-tracker-logo {
  margin: 3%;
  width: 40%;  
  height: $one-hundred-percent;
}

.money-spent-box {
  @include flex-column();
  border: $border;
  margin: 1%;
  margin-right: 5%;
  height: 60%;
  width: 50%;
  border-radius: $box-radius;
  padding: 10px;
  background-color: #FFCC00;
}

.login-box {
  @include flex-column();
  margin: 1%;
  margin-right: 5%;
  height: 60%;
  width: 30%;
  padding: 10px;
  background-color: $white;
}

.login-label {
  margin: 0px 0px 10px 0px;
}

.user-input {
  margin-bottom: 5px;
  height: 25px;
}

.login-button {
  background-color: #3d9ae8;
  color: white;
  height: 25px;
  cursor: pointer;
}

.login-button:hover {
  background-color: darkblue
}

.form-container {
  @include flex-column();
  border-radius: $box-radius;
  height: 400px;
  margin: 10%;
  padding: 10%; 
  background-color: $white;
}

.input-label {
  margin-top: 5%;
}

.save-trip-button {
  margin-top: 10%;
  width: 48%;
  height: 60%;
  cursor: pointer;
}

.trip-buttons {
  @include flex-row();
  margin-left: 1%;
  border-right: $border;
}

.btn {
  margin: 2% .5% 2% .5%;
  height: 50px;
  width: 15%;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: gray;
}

.card-image-box {
  @include flex-justify-center();
  height: 60%;
}

.card-image {
  height: 80%; 
  width: 70%;
}

.card-header {
  @include flex-justify-center();
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-footer {
  margin-left: 5px;
  margin-top: 0px;
  height: auto;
}

.footer-text {
  margin: 0px 0px 5px 5px;
}

.trip-status {
  margin-top: 25px;
  @include flex-column();
  align-items: center;
}

h5 {
  margin-top: 20px;
}

.travel-icon {
  width: 80%;
  position: relative;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.traveler-icon {
  width: 10%;
}

.tracker-heading {
  font-size: 40px;
  text-decoration: underline;
}

.money-spent-text {
  margin: 0px;
}

.hidden {
  display: none;
}

.wrong-password-field {
  margin-top: 10px;
  color: red;
}
