@import '_variables';

html {
  height: 100%;
}

.body {
  background: $primary-background;
  border: 2px solid green;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.header {
  border: 2px solid green;
  height: 15vh;
  width: 100%;
}

.main {
  border: 2px solid green;
  height: 100%;
  width: 80%;
}

.sidebar {
  border: 2px solid green;
  height: 100%;
  width: 20%;
}

.grid-heading {
  height: 25%;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
}

.heading-greet {
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.grid-container {
  border: 2px solid green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 65%;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 5%;
  border: 2px solid green;
  height: 300px;
}

.welcome-user-box {
  border: 2px solid green;
  margin: 1%;
  width: 40%
}

.money-spent-box {
  border: 2px solid green;
  margin: 1%;
  width: 30%;
}

.form-container {
  border: 2px solid green;
  height: 50%;
  margin: 10%;
  display: flex;
  flex-direction: column;
  padding: 10%; 
}

.input-label {
  margin-top: 5%;
}

.button {  
  display: flex;
  justify-content: space-between;

}

.save-trip-button {
  margin-top: 10%;
  width: 48%;
  height: 60%;
  
}

.trip-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 2%;
  width: 20%;
}

.card-image-box {
  display: flex;
  justify-content: center;
  height: 60%;
}

.card-image {
  height: 80%; 
  width: 70%;
}

.card-header {
  display: flex;
  justify-content: center;
}

.card-footer {
  margin-left: 5px;
  margin-top: 20px;
  height: auto;
}

.footer-text {
  margin: 0px;
}

.trip-status {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  margin-top: 20px;
}