@import '_variables';

* {
  font-family: 'Roboto', sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

.body {
  background: $primary-background;
  min-height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.header {
  height: 15vh;
  width: 100%;
}

.main {
  height: 100%;
  width: 80%;
}

.sidebar {
  min-height: 100%;
  width: 20%;
  background-color: #336699;
  border-right: 2px solid black;
}

.grid-heading {
  height: 30%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.heading-greet {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.grid-container {
  background-color: #c0c0c0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 65%;
  border-right: 2px solid black;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 5%;
  border: 2px solid black;
  height: 300px;
  background-color: rgb(242, 236, 236);
  border-radius: 7px;
}

.travel-tracker-logo {
  margin: 3%;
  width: 40%;  
  height: 100%;
}

.money-spent-box {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 1%;
  margin-right: 5%;
  height: 60%;
  width: 45%;
  border-radius: 8px;
  padding: 10px;
  background-color: #FFCC00;
}

.form-container {
  border-radius: 8px;
  height: 500px;
  margin: 10%;
  display: flex;
  flex-direction: column;
  padding: 10%; 
  background-color: #ffffff;
}

.input-label {
  margin-top: 5%;
}

.button {  
  display: flex;
  justify-content: space-between;

}

.save-trip-button {
  margin-top: 10%;
  width: 48%;
  height: 60%;
  
}

.trip-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 2%;
  width: 20%;
}

.card-image-box {
  display: flex;
  justify-content: center;
  height: 60%;
}

.card-image {
  height: 80%; 
  width: 70%;
}

.card-header {
  display: flex;
  justify-content: center;
}

.card-footer {
  margin-left: 5px;
  margin-top: 20px;
  height: auto;
}

.footer-text {
  margin: 0px 0px 5px 5px;
}

.trip-status {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  margin-top: 20px;
}

.travel-icon {
  width: 50%;
  position: relative;
}

.tracker-heading {
  font-size: xx-large;
}

.money-spent-text {
  margin: 0px;
}